// stylelint-disable

/* Site Header */
.site-header {
  padding: 3em 30px;
  position: absolute;
  top: 0;
  z-index: 900;
  width: 100%;
  .site-logo {
    line-height: 0;
    padding: 2px 10px;
    border: 2px solid $black;
    color: $black;
    font-size: 30px;
    font-weight: bold;
  }
  .social {
    li {
      display: inline-block;
      a {
        color: $black;
        padding: 0 10px;
      }
    }
  }
  .heading {
    color: $white;
  }

  &.scrolled {
    position: fixed;
    padding: 1em 30px;
    top: 0;
    background: $white;
    transition: 0s all ease;
    transform: translateY(-100%);
    .social {
      margin-top: 10px;
      li {
        a {
          color: $black;
        }
      }
    }
    .site-logo {
      line-height: 1.5;
      display: inline-block;
      position: relative;
      padding: 2px 10px;
      border: 2px solid $black;
      color: $white;
      background: $black;
      font-size: 30px;
    }

    .site-nav-toggle {
      top: -5px !important;
    }
  }
  &.awake {
    transition: 0.3s all ease;
    transform: translateY(0%);
  }
  &.sleep {
    transition: 0.3s all ease;
    transform: translateY(-100%);
  }
}
