@import '../../styles/variables';
@import '../../styles/mixins';

// Section
.section {
  padding: 7em 0;
  position: relative;
  z-index: 2;
}

// heading
.section-heading {
  h2 {
    font-size: 50px;
    @include media-breakpoint-down(md) {
      font-size: 30px;
    }
  }

  .sub-heading {
    font-size: 20px;
  }

  .small-sub-heading {
    color: $primary;
    font-size: 14px;
  }
}
