@import '../../styles/variables';
@import '../../styles/mixins';

// stylelint-disable
.ftco-46 {
  .ftco-46-row {
    > div {
      text-align: center;
      width: 100%;
      @include media-breakpoint-up(lg) {
        width: 33.33333%;
      }
    }
  }
  .ftco-46-subheading {
    font-size: 14px;
    color: $primary;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  .ftco-46-heading {
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .ftco-46-image {
    background-size: cover;
    background-position: center center;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $black;
      opacity: 0.05;
    }
    @include media-breakpoint-down(md) {
      height: 200px;
      display: none;
    }
  }
  .ftco-46-text {
    padding: 40px;
    background: $white;
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
    &.ftco-46-arrow-up {
      z-index: 2;
      position: relative;
      &:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;

        border-bottom-color: $white;
        border-width: 20px;
        margin-left: -20px;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }

    &.ftco-46-arrow-left {
      z-index: 2;
      position: relative;
      &:after {
        right: 100%;
        top: 20%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;

        border-right-color: $white;
        border-width: 20px;
        margin-top: -20px;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }

    &.ftco-46-arrow-right {
      z-index: 2;
      position: relative;
      &:after {
        left: 100%;
        top: 20%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;

        border-left-color: $white;
        border-width: 20px;
        margin-top: -20px;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.ftco-38 {
  .ftco-38-header {
    .ftco-38-heading {
      font-size: 30px;
      color: $black;
      margin: 0;
      font-weight: 300;
      margin-bottom: 10px;
      @include media-breakpoint-down(md) {
        font-size: 24px;
      }
    }
    .ftco-38-subheading {
      color: lighten($black, 70%);
      margin: 0 0 20px 0;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      @include media-breakpoint-down(md) {
        font-size: 18px;
      }
    }
    img {
      width: 200px;
      border-radius: 50%;
      margin-bottom: 40px;
    }
  }
}
